<div class="todos">
    <form class="todos-form" action="/" method="POST">
        <label for="todo"></label>
        <input type="text" id="todo" name="todo" maxlength="140"/>
        <input type="submit" value="Create TODO" />
    </form>
    <ul class="todos-list">
        <% todos.forEach(todo => { %>
            <li class="todo-item"><%= todo.title %></li>
        <% }) %>
    </ul>
</div>