apiVersion: batch/v1
kind: Job
metadata:
  name: {{{ job_name }}}
  labels:
    dummysite: "{{ dummysite_name }}"
spec:
  template:
    spec:
      volumes:
        - name: sites-storage
          persistentVolumeClaim:
            claimName: dummysite-claim
      containers:
      - name: {{{ container_name }}}
        image: {{{ image }}}
        imagePullPolicy: Always
        env:
        - name: WEBSITE_URL
          value: {{{ website_url }}}
        volumeMounts:
        - name: sites-storage
          mountPath: /usr/src/app/sites
      restartPolicy: Never